# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
.env
vite.config.js
dist-ssr
*.local
*.sql

Database.sql
vercel.json
migrations/*
.env.local
.env.development.local
.env.test.local
.env.production.local

doc/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
SUPABASE_SETUP.md
DOCUMENTACION_CRM_PADEL.md
OPCIONES_COTEJO_PAGOS_ASISTENCIAS.md
OPCIONES_MOVIL_CLASES.md